
.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  text-align: center;
  padding-top: 40px;
}


.sidebar  li a {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

.sidebar li a:hover {
  background-color: #e2e6ea;
  color: #0056b3;
}
.row{
      --bs-gutter-x: 0 !important; 
}
div.col-10{
  padding: 20px 
}
 .btn-sm{
  margin: 2px 0 ;
  width: 90%;
}
.btn-success {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0px;
}
.mb-3{
  display: flex;
  justify-content: center;
}